{% extends 'base.html' %}

{% block title %} Nosotros {% endblock %}

{% block contenido %}
<br><br>
<div class="table-responsive">
    <table class="table table-danger">
        <thead>
            <tr>
                <th scope="col">Nosotros</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td scope="row">masteeeeeeeer</td>
                <td>hola hola hola</td>
                <td>chao chao chao</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}